* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --clr--d1: #1d1d1d;
  --clr--d2: #05050f;
  --clr--d3: #161619;
  --clr--gray2: #eaeff2;
  --clr--blue: #0d7ecf;
  --clr--green: #06c589;
  --clr--light: #e6e6e6;

  /* Fonts */
  --ff--roboto: 'Roboto', sans-serif;
  --ff--dyna: 'DynaPuff', cursive;
}

html {
  font-family: var(--ff--roboto);
}


body {
  margin: 0;
  padding: 0;
  font-weight: 400;
}